@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Outfit:wght@100..900&display=swap');

* {


    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;

}

body {
    background-color: #c9d8dd;
}

html {
    font-size: 85%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #a99db2;
}

html::-webkit-scrollbar-thumb {
    background: #b58d7e;
}

section {
    padding: 3rem 9%;
}

.heading {
    background: blue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: 2%;
    border-radius: 3rem;
}

.heading h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: red;
}

.heading p {
    color: #a99db2;
}

.heading p a {
    color: green;
}

.heading p a:hover {
    color: yellow;
}

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid black;
    padding-bottom: 1.5rem;
}

.title span {
    font-size: 2.5rem;
    color: red;
}

.title a {
    font-size: 1.5rem;
    color: #b58d7e;
}

.title a:hover {
    transform: translateX(-3px);
    color: #caab9f;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #b58d7e, #c9d8dd);
    color: #faf7f6;
    cursor: pointer;
    border-radius: 1rem;
}

.btn:hover {
    background: linear-gradient(135deg, #5f4e62, #c1dddf);
}

/* header section start */
.header {
    padding: 2rem 9%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #c1dddf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    border-radius: 0 0 2rem 2rem #5f4e62;

}

.header .logo {
    font-size: 2.5rem;
    color: #5f4e62;
    font-weight: 500;
}

.header .logo i {
    padding-right: .3rem;
}

.header .search-form {
    height: 5rem;
    width: 50rem;
    border-radius: .75rem;
    background-color: transparent;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #faf7f6;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0.1rem solid #caab9f;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    padding: 0 1.2rem;
    font-size: 1.6rem;
    color: #b58d7e;
    text-transform: none;
    background-color: transparent;
}

.header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.7rem;
    cursor: pointer;
    color: #5f4e62;
}

.header .search-form label:hover {
    color: #9e7464;
}

.header .icons {
    display: flex;
    align-items: center;
}

.header .icons div {
    margin-left: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: #5f4e62;
}

.header .icons div:hover {
    color: #9e7464;

}

/* header section end */